# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "Loud & Abrasive: Patrick McVeety-Mill"
email: p.mcvtm@protonmail.com
organization: "Loud & Abrasive & Co."
description: > # this means to ignore newlines until "baseurl:"
  Patrick McVeety-Mill's blog and portfolio: Loud & Abrasive.
  Featuring guides, thoughts, and commentary on development, .NET, and more,
  as well as art and project highlights.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://loudandabrasive.com"
permalink: ":title"
excerpt_separator: <!--more-->
pagination:
  per_page: 4
  enabled: true
  sort_reverse: true
  permalink: '/page/:num/'
  title: ':title - page :num'

#nav
header_pages:
  - "/tech/"
  - "/life/"
  - "/arts/"
  - "/about/"

#seo
logo: /assets/loudandalogo.png
author:
  name: Patrick McVeety-Mill
  twitter: loudandabrasive
  etsy: corrugatedcardbuds
  github: pmcvtm
google_analytics: UA-49372703-1
social:
  name: Patrick McVeety-Mill
  links:
    - https://twitter.com/loudandabrasive
    - https://www.linkedin.com/in/pmcvtm
    - https://github.com/pmcvtm
    - https://www.facebook.com/patrick.mcveetymill
    - https://www.instagram.com/loudandabrasive
    - http://www.etsy.com/shop/corrugatedcardbuds
twitter:
  username: loudandabrasive

sitemap:
  filename: "/sitemap.xml"
  exclude:
      - "/atom.xml"
      - "/feed.xml"
      - "/feed/index.xml"
  include_posts:
      - "/index.html"
  change_frequency_name: "change_frequency"
  priority_name: "priority"

# Build settings
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
