---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-list-entry">
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div class="post-meta">
          <time class="post-date" datetime="{{ post.date | date: "%b %-d, %Y" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          {% for tag in post.tags %}
            | {{tag}}
          {% endfor %}
          <span>
        </div>
        <div class="post-excerpt">
          {{post.excerpt}}
          <a class="read-more" href="{{ post.url | relative_url }}"> Read on &raquo;</a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
