<div style="min-width: 100%;">
<hr class="footer-stripes" />
<footer class="site-footer">
  <span class="copy">&copy; {{ site.time | date: "%Y" }} {{ site.organization }}</span>
  <ul class="social-links">
    {% for link in site.data.social_links %}
      {% if link.footer == true %}
      <li><a href="{{link.url}}" title="{{link.name}}" target="_blank"><i class="{{link.icon}}"></i></a></li>
      {% endif %}
    {% endfor %}
    <li><a class="rss" title="Subscribe" target="_blank" href="{{ "/feed.xml" | relative_url }}"><i class="fas fa-rss"></i></a></li>
  </ul>
</footer>
</div>