<footer class="site-footer">
  <div>
    &copy; {{ site.time | date: "%Y" }} {{ site.organization }}
    <ul class="social-links">
      {% for link in site.social.links %}
        {% assign social = site.data.social_links | where_exp:"social", "link contains social.urlPart" | first %}
        {% if social.show == true %}
        <li><a href="{{link}}" title="{{social.name}}"><i class="fab {{social.icon}}"></i></a></li>
        {% endif %}
      {% endfor %}
      <li><a class="rss" title="Subscribe" href="{{ "/feed.xml" | relative_url }}"><i class="fas fa-rss"></i></a></li>
    </ul>
  </div>
</footer>
