<div class="banner-content">
    <a class="title" href="{{ "/" | relative_url }}">
        <img src="{{ "assets/glasses.png" | relative_url }}" />
        PMCVTM
    </a>
    <div class="nav-toggle">
        <input id="nav-toggle-check" name="nav-toggle-check" type="checkbox" />
        <label for="nav-toggle-check">
            <i class="fas fa-bars"></i>
        </label>
    </div>
    <nav>
        <ul class="page-list">
            {% assign pagelinks = site.pages | where: "banner-show","true" | sort:"banner-order" %}
            {% for page in pagelinks %}
            <li>
                <a href="{{ page.url | relative_url }}" class="{{ page.color | default:'brown' }}">
                    {{ page.title | escape }}
                </a>
            </li>
            {% endfor %}
            <li>
                <a href="#" class="charcoal">Contact</a>
            </li>
            <li>
                <a href="#" class="brown">
                    <i class="fas fa-rss desktop-only"></i>
                    <span class="mobile-only">Subscribe</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
