<header class="site-head">
  <div class="clearfix">
    <div class="col-sm-1 col-sm-offset-2 hidden-xs">
      <img class="img-responsive" src="{{ "/assets/loudandalogo.png" | relative_url }}">
    </div>
    <div class="blog-title col-sm-4 col-sm-offset-1">
      <a class="site-title" href="{{ "/" | relative_url}}">
        <h1>{{ site.title | escape }}</h1>
      </a>
      <small class="blog-description">{{ site.description | escape }}</small>
    </div>
    <div class="col-sm-1 col-sm-offset-1 hidden-xs">
      <img class="img-responsive" src="{{ "/assets/loudandalogo.png" | relative_url }}">
    </div>
  </div>
  
  {% include navigation.html %}

</header>
