<div class="title-container">
  <span class="subtitle">Patrick McVeety-Mill:</span>
  <h1 class="title">
    <a href="{{ "/" | relative_url }}">Loud &amp; Abrasive</a>
  </h1>
</div>

<nav>
  <input id="nav-toggle-check" name="nav-toggle-check" type="checkbox" class="nav-toggle" />
  <label for="nav-toggle-check" class="nav-toggle">
    <i class="fas fa-bars"></i>
  </label>

  <ul class="page-list">
    {% for page_name in site.header_pages %}
      {% assign page = site.pages | where: "name", page_name | first %}
      {% if page.title %}
        <li class="nav-link-{{ page.color | default:'brown' }}">
          <a href="{{ page.url | relative_url }}">
            {{ page.title | escape }} <i class="fas {{page.icon}}"></i>
          </a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="nav-link-charcoal">
      <a href="{{ "/feed.xml" | relative_url }}" class="hover-charcoal">Subscribe <i class="fas fa-rss"></i></a>
    </li>
  </ul>

  <hr class="stripes mobile-stripes" />
</nav>
