
<header class="site-header">
  <a class="site-title" href="{{ "/" | relative_url }}">
    <h1>
      <img class="top-logo" src="{{ "/assets/loudandalogo.png" | relative_url }}" />
      <img class="side-logo" src="{{ "/assets/loudandalogo.png" | relative_url }}" />
      <span class="site-subtitle">Patrick McVeety-Mill</span>
      <img class="side-logo" src="{{ "/assets/loudandalogo.png" | relative_url }}" />
      <br />
      <span class="title">Loud &amp; Abrasive</span>
    </h1>
  </a>

  <nav class="site-nav">
    <input id="nav-toggle" name="nav-toggle" type="checkbox" />
    <label class="nav-toggle-label" for="nav-toggle">
      <i class="menu-icon fa fa-bars"></i>
    </label>
    <ul class="page-list">
      <li class="page-link" style="background: #293434">
        <a href="{{ "/" | relative_url }}">
          </i> Home <i class="fa fa-bullhorn"></i>
        </a>
      </li>
      {% for path in site.header_pages %}
        {% assign page = site.pages | where: "permalink", path | first %}
        {% if page.title %}
          <li class="page-link" style="background: {{ page.color | default:'#293434' }}">
            <a href="{{ page.url | relative_url }}">
              {{ page.title | escape }} <i class="fa {{page.icon}}"></i>
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="page-link" style="background: #293434">
        <a href="{{ "/feed.xml" | relative_url }}">
          Subscribe <i class="fa fa-rss"></i>
        </a>
      </li>
    </ul>

  </nav>
</header>
