<span class="icons">
  <a href="http://twitter.com/loudandabrasive" class="nerds-link"><i class="fa fa-twitter"></i></a>
  <a href="http://instagram.com/loudandabrasive" class="arts-link"><i class="fa fa-instagram"></i></a>
  <a href="https://github.com/pmcvtm" class="projects-link"><i class="fa fa-github"></i></a>
  <a href="https://linkedin.com/in/pmcvtm" class="business-link"><i class="fa fa-linkedin"></i></a>
  <a href="https://etsy.com/shop/CorrugatedCardbuds" class="arts-link"><i class="fa fa-etsy"></i></a>
  <a href="{{ "/feed.xml" | relative_url}}" class="subscribe-link"><i class="fa fa-rss"></i></a>
</span>