<li>
  <span class="highlight">Hire me!</span> I'm looking for contract work. <br />
  <a href="mailto:patrick@pmcvtm.com">Let's do business</a>.
</li>
<li>I'll be at <span class="highlight">KCDC</span> June 27-28! Come say hi!</li>
<li>
  I got a haircut! If we met within the past 5 years. You <span class="highlight">may not recognize me</span>.
</li>
<li>
  What do you think of the <span class="highlight">new site design?</span> <br />
  <a href="https://twitter.com/pmcvtm">I'm open to feedback</a>.
</li>
