/* Coolors Exported Palette - coolors.co/293434-148261-05445e-f9faf9-d17f77 */
$darkGray: #293434;
$lightGray: #D6D6D6;
$green: #148261;
$blue: #05445E;
$white: #f9faf9;
$salmon: #d17f77;

/* Coolors Exported Palette - coolors.co/264653-2a9d8f-c4cf7b-e5771e-e73602-5a3d2b */
$charcoal: #264653ff;
$teal: #2a9d8fff;
$yellow: #c4cf7bff;
$orange: #e5771eff;
$vermilion: #e73602ff;
$brown: #5a3d2bff;
$dope: #dbd1b3;

$text: $darkGray;

$desktopMinimum: 992px;
$veryTinyMax: 576px;

$regularFont: 'Rubik', sans-serif;

@mixin transition ($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}
