@import "_variables";

.business-card {
    @include flex-align-self(stretch);
    @include flex-shrink(0);

    @include display-flex;
    @include flex-direction(column);

    height:100%;
    text-align: center;
    background-color: $dope;
}

.business-card-title {
    width: 100%;
    margin: 1em;

    h1 {
        font: normal 2em 'Bungee Shade', cursive;
        line-height: 1em;
        color: $brown;
        margin: 0;

        @media (min-width: $veryTinyMax) { font-size: 3em; }
    }

    .subtitle {
        color: $brown;
        font: oblique 1.75em 'Vibur', sans-serif;
        @media (max-width: $veryTinyMax) { font-size: 1.25em; }
    }
}

.business-card-links {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        line-height: 2em;
        width: 100%;
        cursor: pointer;
    }
}

@mixin business-card-link($color) {
    font-size: 1.5rem;
    background-color: $color;

    a { 
        color: $white;
        text-decoration: none;
        width: 100%;

        .link-text {
          @include display-flex;
          @include flex-justify-content(start);

          padding: 0 0.5em;
          max-width: 15em;
          margin-left: auto;
          margin-right: auto;
        }

        span, i { line-height: 2em; padding: 0 0.5em; }
    }
    a:hover { color: $white; }
    &:hover { filter: brightness(120%) saturate(75%); }
}

.business-card-link-brown { @include business-card-link($brown) }
.business-card-link-vermilion { @include business-card-link($vermilion) }
.business-card-link-orange { @include business-card-link($orange) }
.business-card-link-citron { @include business-card-link($citron) }
.business-card-link-teal { @include business-card-link($teal) }
.business-card-link-charcoal { @include business-card-link($charcoal) }