@import "_variables";

.business-card {
    @include flex-align-self(stretch);
    @include flex-shrink(0);

    @include display-flex;
    @include flex-direction(column);

    height:100%;
    text-align: center;
    background-color: $dope;
}

.business-card-title {
    margin: 1em;

    h1 {
        font: normal 2em 'Bungee Shade', cursive;
        line-height: 1em;
        color: $brown;
        margin: 0;

        @media (min-width: $veryTinyMax) { font-size: 3em; }
    }

    .subtitle {
        color: $brown;
        font: oblique 1.75em 'Vibur', sans-serif;
        @media (max-width: $veryTinyMax) { font-size: 1.25em; }
    }
}

.business-card-links {

    ul {
        list-style: none;
        padding: 0;

        li {
            font-size: 1.5rem;

            &:nth-child(1n+1) { background-color: $brown; }
            &:nth-child(2n+2) { background-color: $vermilion; }
            &:nth-child(3n+3) { background-color: $orange; }
            &:nth-child(4n+4) { background-color: $citron; }
            &:nth-child(5n+5) { background-color: $teal; }
            &:nth-child(6n+6) { background-color: $charcoal; }
        }
    }

    a {
        color: $white;
        text-decoration: none;
        width: 100%;

        .link-text {
          @include display-flex;
          @include flex-justify-content(start);

          padding: 0 0.5em;
          max-width: 15em;
          margin-left: auto;
          margin-right: auto;
        }

        span, i { line-height: 2em; padding: 0 0.5em; }

        &:hover { color: $white; }
        &:hover { filter: brightness(120%) saturate(75%); }
    }
}