@import "_variables";

footer {
    @include flex-shrink(0);

    @include display-flex;
    @include flex-direction(row);
    @include flex-justify-content(space-evenly);
    @include flex-align-items(center);

    @media (max-width: $desktopMinimum) {
        padding-top: 0.2em;
        min-height: 3em;

        @include flex-direction(column);
        @include flex-justify-content(start);
        @include flex-align-items(stretch);
        text-align: center;
    }

    width: 100%;
    background-color: $dope;
    color: $brown;
    font: normal 1em $headingFont;
    line-height: 1em;
}

.social-links {
    @include display-flex;
    @include flex-direction(row);
    @include flex-justify-content(space-between);
    @include flex-align-items(center);

    @media (min-width: $desktopMinimum) {
        @include flex-basis(25em);
        padding-left: 0;
    }

    @media (max-width: $desktopMinimum) {
        margin: 0.2em;
        padding: 0 1em;
    }

    list-style: none;

    li {
        a { color: $brown; }
        &:nth-child(1n+1) { a:hover { color: $vermilion; } }
        &:nth-child(2n+2) { a:hover { color: $orange; } }
        &:nth-child(3n+3) { a:hover { color: $citron; } }
        &:nth-child(4n+4) { a:hover { color: $teal; } }
        &:nth-child(5n+5) { a:hover { color: $charcoal; } }
    }
}

.footer-stripes {
    @include stripes(0.2rem);
    border-top: 0.2rem solid $brown;
}
