@import "_variables";

header {
    @include flex-align-self(stretch);
    @include flex-shrink(0);

    @include display-flex;
    @include flex-direction(column);
    @include flex-justify-content(space-around);
    @include flex-align-items(center);

    text-align: center;
    background-color: $dope;

    @media (max-width: $veryTinyMax) { 
        padding-top: 1em;
        min-height: 12em;
    }

    .title {
        font: normal 2em 'Bungee Shade', cursive;
        line-height: 1em;
        color: $brown;
        margin: 0;

        a {
            color: $brown;
            text-decoration: none;
        }

        @media (min-width: $veryTinyMax) { font-size: 3em; }
    }

    .subtitle {
        color: $brown;
        font: oblique 1.75em 'Vibur', sans-serif;
        @media (max-width: $veryTinyMax) { font-size: 1.25em; }
    }

    nav {
        padding-top: 2em;

        @media (max-width: $desktopMinimum) {
            width: 100%;
        }


        ul {
            list-style: none;
            padding: 0;

            @include display-flex;
            @include flex-direction(row);

            @media (max-width: $desktopMinimum)
            {
                @include flex-direction(column);
                @include flex-justify-content(space-around);
                @include flex-align-items(center);
            }
        }

        li {
            @include flex-grow(1);
            line-height: 2em;
            cursor: pointer;
            width: 100%;
            white-space: nowrap;

            a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                i { font-size: 1rem; padding-left: .25rem; }
            }
        }
    }

    @media (min-width: $desktopMinimum) {
        &.home {
                padding-top: 2em;
                .title { font-size: 4em; }
                nav { width: 80em; }
                border-bottom: 1em solid $brown;
            }

        &.top {
            @include flex-direction(row);
            @include flex-justify-content(space-evenly);
            @include flex-align-items(center);
            border-bottom: 0.2em solid $brown;

            .title { font-size: 2em; }
            .title-container {
                margin-left: 3em;
                padding: .5em 0 .5em 0;
            }

            .subtitle { display: none;}

            nav {
                @include flex-grow(0.5);
                padding-top: 0;

                ul {
                    height: 100%;
                    @include flex-justify-content(stretch);
                    @include flex-align-items(center);

                    margin: 0;

                    li {
                        @include display-flex;
                        @include flex-direction(column);
                        @include flex-justify-content(center);
                        height: 100%;

                        font: bolder 1.25em $text;
                    }
                }
            }
        }
    }
}

@mixin nav-button($color) {
    background: $color;
    font-size: 1.25rem;

    a { color: $white; }
    a:hover { color: $white; }
    &:hover { filter: brightness(120%) saturate(75%); }
}

.nav-link-brown { @include nav-button($brown) }
.nav-link-vermilion { @include nav-button($vermilion) }
.nav-link-orange { @include nav-button($orange) }
.nav-link-citron { @include nav-button($citron) }
.nav-link-teal { @include nav-button($teal) }
.nav-link-charcoal { @include nav-button($charcoal) }

.nav-toggle {
    @media (min-width: $desktopMinimum) {
        display: none !important;
    }
}

label.nav-toggle {
    display: block;
    width: 100%;
    background-color: $brown;
    color: $white;
    font-size: 1.5rem;
    @include transition(transform .5s ease);
}

input.nav-toggle {
    display: none;

    ~ .page-list {
        @media (max-width: $desktopMinimum) {
            @include transition(all .5s ease);
            visibility:hidden;
            opacity:0;
            max-height: 0;
            margin: 0;
        }
    }

    &:checked {
        ~ label i {
            transform: rotate(90deg);
            @include transition(transform .5s ease);
        }

        ~ .page-list {
            @include transition(all .5s ease);
            visibility:visible;
            opacity:1;
            max-height: 500px;
        }

        ~ .stripes {
            visibility:hidden;
            opacity:0;
            max-height: 0;
            min-height: 0;
            margin: 0;
        }
    }
}

.mobile-stripes {
    @extend .mobile-only;
    @include stripes(.8em);
}

.home-stripes {
    @extend .desktop-only;
    @include stripes(.8em);
}

.top-stripes {
    @extend .desktop-only;
    @include stripes(.2em);
}
