@import "_variables";

header {
    background-color: $dope;
    display: flex;
    text-align: center;

    .title {
        font: bolder 2em 'Bungee Shade', cursive;
        line-height: 1.5em;
        color: $brown;
        margin: 0;

        a {
            color: $brown;
            text-decoration: none;
        }
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            padding: 0;
        }

        li {
            flex-grow: 1;
            line-height: 2em;
            width: 100%;

            a {
                text-decoration: none;
                i { font-size: 1rem; padding-left: .25rem; }
            }
        }
    }

    &.home {
        padding: 2em 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .title {
            font-size: 5em;
            line-height: 1em;
            @media (max-width: $veryTinyMax) { font-size: 3em; }
        }

        .subtitle {
            color: $brown;
            font: oblique 2em 'Vibur', sans-serif;
            @media (max-width: $veryTinyMax) { font-size: 1.5em; }
        }

        nav {
            @media (max-width: $desktopMinimum)
            {
                display: none;
                visibility:hidden;
                opacity:0;
                max-height: 0;
            }

            width: 80em;
            padding-top: 2em;

            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            li {
                cursor: pointer;
            }

            a {
                color: $white;
                font-size: 1.25rem;
            }
        }
    }

    &.top{
        display: block;

        nav {

            ul {
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                align-items: stretch;

                margin: 0; 

                li {
                    width: inherit;
                }

                li.nav-title {
                    flex-grow: 4;
                    font-size: 1.5em;
                }

                li.nav-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 3;
                    min-width: 10rem;

                    font: bolder 1.25em $headingFont, cursive;
                }
            }
        }

        .stripes {
            @include stripes(0.2em);
        }
    }
}

.top-nav-link {
    color: $brown;
}

.site-title {
    text-decoration: none;
    color: $text;
    font: 2rem 'Bungee Shade', cursive;
    @media (max-width: $veryTinyMax) { font-size: 1.5rem; }

    padding-top: 1em;

    .title {
        margin: 0 0 0.5em 0;
        line-height: 1em;
    }

    img.top-logo { 
        display: none;
        width: 3rem;
        margin: auto;
        @media (max-width: $veryTinyMax) { display:block; }
     }
    img.side-logo { 
        display: inline-block;
        width: 1.5rem;
        @media (max-width: $veryTinyMax) { display:none; }
    }

    .site-subtitle {
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 1.5rem;
        @media (max-width: $veryTinyMax) { font-size: 1rem; }
    }
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: inline-block;
    font-size: 1.5rem;
    @include transition(transform .5s ease);
    @media (min-width: $desktopMinimum) { display: none; }
}

#nav-toggle:checked ~ .nav-toggle-label{
    transform: rotate(90deg);
    @include transition(transform .5s ease);
}

#nav-toggle { display: none; }

#nav-toggle ~ .page-list {
    @media (max-width: $desktopMinimum) {
        @include transition(all .5s ease);
        visibility:hidden;
        opacity:0;
        max-height: 0;
    }
}

#nav-toggle:checked ~ .page-list {
    visibility:visible;
    opacity:1;
    max-height: 500px;
}

.page-list {
    list-style: none;
    padding-left: 0;
}

.page-link {
    @extend .highlight-button;
    @media (max-width: $desktopMinimum) { display: block; }

    a {
        font-size: 1.25rem;
        i { font-size: 1rem; padding-left: .25rem;  }
    }
}