@import "_variables";

header.banner {
    background-color: $dope;

    display: block;
    width: 100%;
    text-align: center;

    font-size: 1em;
    line-height: 1em;

    .banner-content {
        @include flex-align-self(stretch);
        @include flex-shrink(0);

        @include display-flex;
        @include flex-direction(row);
        @include flex-justify-content(end);
        @include flex-align-items(center);

        margin: auto;
        max-width: 1200px;
    }

    .title {
        @include display-flex;
        @include flex-direction(row);
        @include flex-justify-content(center);

        margin-right: auto;
        font-family: 'Bungee Shade', cursive;
        color: $brown;

        text-decoration: none;

        img { height: 1.5rem; }
    }

    div.stripes {
        background-image: url("/assets/stripes.png");
        background-size: 3.5rem;
        width: 100%;
        height: 2rem;
    }

    nav {
        @include flex-grow(0.5);

        @media (max-width: $desktopMinimum) {
            width: 100%;
        }

        ul {
            @include display-flex;
            @include flex-direction(row);
            @include flex-justify-content(stretch);
            @include flex-align-items(center);

            margin: 0;
            padding: 0;
            height: 100%;
            list-style: none;

            @media (max-width: $desktopMinimum)
            {
                @include flex-direction(column);
                @include flex-justify-content(space-around);
                @include flex-align-items(center);
            }

            li {
                @include display-flex;
                @include flex-direction(column);
                @include flex-justify-content(center);
                @include flex-grow(1);
                height: 100%;

                font: bolder 1.25em $text;
            }
        }

        .nav-toggle {
            @media (min-width: $desktopMinimum) {
                display: none !important;
            }
        }
    }
}
