@import "_variables";

header {
    background-color: $dope;

    display: block;
    width: 100%;
    text-align: center;

    font-size: 1rem;
    line-height: 2rem;

    .content {
        @include flex-align-self(stretch);
        @include flex-shrink(0);

        @include display-flex;
        @include flex-direction(row);
        @include flex-justify-content(end);
        @include flex-align-items(center);
        @include flex-wrap(wrap);

        margin: 0.5rem auto;
    }

    .title {
        @include display-flex;
        @include flex-direction(row);
        @include flex-justify-content(center);

        margin-right: auto;
        @include mobile {
            padding-left: 1rem;
        }

        font-family: 'Bungee Shade', cursive;
        font-size: 1.5rem;
        color: $brown;

        text-decoration: none;

        img {
            height: 1.75rem;
            margin-right: .75rem;
        }
    }

    nav {
        @include flex-grow(0.5);

        @include mobile() {
            flex-basis: 100%;
            width: 100%;
        }

        ul {
            @include display-flex;
            @include flex-direction(row);
            @include flex-justify-content(stretch);
            @include flex-align-items(center);

            margin: 0;
            padding: 0;
            height: 100%;
            list-style: none;

            @include mobile()
            {
                @include flex-direction(column);
                @include flex-justify-content(space-around);
                @include flex-align-items(center);

                width: 100%;
            }

            li {
                @include display-flex;
                @include flex-direction(column);
                @include flex-justify-content(center);
                @include flex-grow(1);
                height: 100%;

                font-family: $headingFont;

                a {
                    text-decoration: none;

                    &.vermilion { color: $vermilion; }
                    &.orange { color: $orange; }
                    &.citron { color: $citron; }
                    &.teal { color: $teal; }
                    &.charchcoal { color: $charcoal; }
                    &.brown { color: $brown; }

                    &:hover { text-decoration: underline; }
                }
            }
        }
    }

    .nav-toggle {
        @include desktop() {
            display: none !important;
        }

        @include mobile() {
            display: block;
            padding-right: 1.5rem;

            & + nav {
                @include transition(all .5s ease);
                visibility:hidden;
                opacity:0;
                max-height: 0;
                margin: 0;
            }

            &:has(input:checked) + nav {
                @include transition(all .5s ease);
                visibility:visible;
                opacity:1;
                max-height: 500px;
                padding-top: 0.5rem;
            }

            label {
                display: block;
                color: $brown;
                font-size: 1.5rem;
                @include transition(transform .5s ease);
            }

            input {
                display: none;

                &:checked {
                    + label i {
                        transform: rotate(90deg);
                        @include transition(transform .5s ease);
                    }
                }
            }
        }
    }
}
