@import "_variables";

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    background-color: $dope;

    @media (max-width: $veryTinyMax) { 
        padding-top: 1em;
    }

    .title {
        font: bolder 2em 'Bungee Shade', cursive;
        line-height: 1em;
        color: $brown;
        margin: 0;

        a {
            color: $brown;
            text-decoration: none;
        }

        @media (min-width: $veryTinyMax) { font-size: 3em; }
    }

    .subtitle {
        color: $brown;
        font: oblique 2em 'Vibur', sans-serif;
        @media (max-width: $veryTinyMax) { font-size: 1.25em; }
    }

    nav {
        padding-top: 2em;

        @media (max-width: $desktopMinimum) {
            width: 100%;
        }


        ul {
            list-style: none;
            padding: 0;

            display: flex;
            flex-direction: row;

            @media (max-width: $desktopMinimum)
            {
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
        }

        li {
            flex-grow: 1;
            line-height: 2em;
            width: 100%;
            cursor: pointer;

            a {
                text-decoration: none;
                i { font-size: 1rem; padding-left: .25rem; }
            }
        }
    }

    @media (min-width: $desktopMinimum) {
        &.home {
                padding-top: 2em;
                .title { font-size: 5em; }
                nav { width: 80em; }
            }

        &.top {
            flex-direction: row;

            justify-content: space-around;
            align-items: stretch;

            .title { font-size: 2.2em; }
            .title-container { flex-grow: 1;  }
            .subtitle { font-size: 1.2em; }

            padding: .5em 10em 1em 0;

            nav {
                flex-grow: 4;

                ul {
                    justify-content: stretch;
                    align-items: stretch;

                    margin: 0;

                    li {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        font: bolder 1.25em $headingFont, cursive;

                        @mixin nav-hover ($color) {
                            background: inherit;
                            a { color: $brown; }

                            a:hover {
                                color: $color;
                            }
                        }

                        &.nav-link-brown { @include nav-hover($brown) }
                        &.nav-link-vermilion { @include nav-hover($vermilion) }
                        &.nav-link-orange { @include nav-hover($orange) }
                        &.nav-link-citron { @include nav-hover($citron) }
                        &.nav-link-teal { @include nav-hover($teal) }
                        &.nav-link-charcoal { @include nav-hover($charcoal) }
                    }
                }
            }
        }
    }
}

@mixin nav-button($color) {
    background: $color;
    font-size: 1.25rem;

    a { color: white; }
}

.nav-link-brown { @include nav-button($brown) }
.nav-link-vermilion { @include nav-button($vermilion) }
.nav-link-orange { @include nav-button($orange) }
.nav-link-citron { @include nav-button($citron) }
.nav-link-teal { @include nav-button($teal) }
.nav-link-charcoal { @include nav-button($charcoal) }

.nav-toggle {
    @media (min-width: $desktopMinimum) {
        display: none !important;
    }
}

label.nav-toggle {
    display: block;
    width: 100%;
    background-color: $brown;
    color: $white;
    font-size: 1.5rem;
    @include transition(transform .5s ease);
}

input.nav-toggle {
    display: none;

    ~ .page-list {
        @media (max-width: $desktopMinimum) {
            @include transition(all .5s ease);
            visibility:hidden;
            opacity:0;
            max-height: 0;
            margin: 0;
        }
    }

    &:checked {
        ~ label i {
            transform: rotate(90deg);
            @include transition(transform .5s ease);
        }

        ~ .page-list {
            @include transition(all .5s ease);
            visibility:visible;
            opacity:1;
            max-height: 500px;
        }

        ~ .stripes {
            @include transition(all .5s ease);
            visibility:hidden;
            opacity:0;
            max-height: 0;
            margin: 0;
        }
    }
}

.mobile-stripes {
    @extend .mobile-only;
    @include stripes(.8em);
}

.home-stripes {
    @extend .desktop-only;
    @include stripes(.8em);
}

.top-stripes {
    @extend .desktop-only;
    @include stripes(.4em);
}
