@import "_variables";

header {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    background-color: $dope;

    @media (max-width: $veryTinyMax) { 
        padding-top: 1em;
    }

    .title {
        font: normal 2em 'Bungee Shade', cursive;
        line-height: 1em;
        color: $brown;
        margin: 0;

        a {
            color: $brown;
            text-decoration: none;
        }

        @media (min-width: $veryTinyMax) { font-size: 3em; }
    }

    .subtitle {
        color: $brown;
        font: oblique 1.75em 'Vibur', sans-serif;
        @media (max-width: $veryTinyMax) { font-size: 1.25em; }
    }

    nav {
        padding-top: 2em;

        @media (max-width: $desktopMinimum) {
            width: 100%;
        }


        ul {
            list-style: none;
            padding: 0;

            display: flex;
            flex-direction: row;

            @media (max-width: $desktopMinimum)
            {
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
        }

        li {
            flex-grow: 1;
            line-height: 2em;
            width: 100%;
            cursor: pointer;

            a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                i { font-size: 1rem; padding-left: .25rem; }
            }
        }
    }

    @media (min-width: $desktopMinimum) {
        &.home {
                padding-top: 2em;
                .title { font-size: 4em; }
                nav { width: 80em; }
                border-bottom: 1em solid $brown;
            }

        &.top {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            border-bottom: 0.2em solid $brown;

            .title { font-size: 2em; }
            .title-container {
                margin-left: 3em;
                padding: .5em 0 .5em 0;
            }

            .subtitle { display: none;}

            nav {
                flex-grow: 0.5;
                padding-top: 0;

                ul {
                    height: 100%;
                    justify-content: stretch;
                    align-items: center;

                    margin: 0;

                    li {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;

                        font: bolder 1.25em $text;
                    }
                }
            }
        }
    }
}

@mixin nav-button($color) {
    background: $color;
    font-size: 1.25rem;

    a { color: $white; }
    a:hover { color: $white; }
    &:hover { filter: brightness(120%) saturate(75%); }
}

.nav-link-brown { @include nav-button($brown) }
.nav-link-vermilion { @include nav-button($vermilion) }
.nav-link-orange { @include nav-button($orange) }
.nav-link-citron { @include nav-button($citron) }
.nav-link-teal { @include nav-button($teal) }
.nav-link-charcoal { @include nav-button($charcoal) }

.nav-toggle {
    @media (min-width: $desktopMinimum) {
        display: none !important;
    }
}

label.nav-toggle {
    display: block;
    width: 100%;
    background-color: $brown;
    color: $white;
    font-size: 1.5rem;
    @include transition(transform .5s ease);
}

input.nav-toggle {
    display: none;

    ~ .page-list {
        @media (max-width: $desktopMinimum) {
            @include transition(all .5s ease);
            visibility:hidden;
            opacity:0;
            max-height: 0;
            margin: 0;
        }
    }

    &:checked {
        ~ label i {
            transform: rotate(90deg);
            @include transition(transform .5s ease);
        }

        ~ .page-list {
            @include transition(all .5s ease);
            visibility:visible;
            opacity:1;
            max-height: 500px;
        }

        ~ .stripes {
            visibility:hidden;
            opacity:0;
            max-height: 0;
            min-height: 0;
            margin: 0;
        }
    }
}

.mobile-stripes {
    @extend .mobile-only;
    @include stripes(.8em);
}

.home-stripes {
    @extend .desktop-only;
    @include stripes(.8em);
}

.top-stripes {
    @extend .desktop-only;
    @include stripes(.2em);
}
