@import "_variables";

header.home {
  .title { display: none; }
  .content { @include desktop() { justify-content: center; } }
}

.headline.home {

  .title {
    @include desktop() { height: 4rem; }
    @include inbetween() { height: 5rem; }
    @include mobile() { height: 6rem; }

    h1 {
      width: 90%;
      color: $brown;

      @include mobile() { line-height: 3rem; }
    }
  }

  img {
    @include desktop() { height: 6rem; }
    @include inbetween() { height: 4rem; }
    @include mobile() { height: 2rem; }
  }

  .content {
    max-width: clamp(450px, 50vw, 750px);

    p {
        margin: 3em auto;
        line-height: 1.35em;
        text-align: center;
    }

    .social-links {
      justify-content: space-evenly;
      margin-top: 2em;

      font-size: clamp(1em, 2vw, 1.5em);
    }
  }

  .next-link {
    animation: next-link 1s linear alternate infinite;
    font-size: larger;
    padding-top: 3em;
    width: inherit;

    @keyframes next-link {
      0% { transform: scale(1) }
      100% { transform: scale(1.3) }
    }
  }
}

.headline.home .next-link, .home-blurbs .next-link {
  text-align: center;

  display: flex;
  flex-direction: column-reverse;
  margin-top: 2em;

  a i {
    padding: 0.25em;
    transform: scale(1);
    transform-origin: top;

    font-size: clamp(1em, 2vw, 1.5em);
    color: $brown;
    &:hover { color: $teal; }
  }
}

.home-blurbs {
  h2, h3 {
    letter-spacing: 0.3 5rem;
    padding: 1rem 2rem 0 2rem;
  }

  #consulting h2 { color: $vermilion; }
  #mentorship h2 { color: $orange; }
  #blog h2 { color: $citron; }

  h2 { font-weight: bold; }

  p { padding: 0 2rem 1rem 2rem; }

  .content {
    display: flex;
    flex-direction: row;
    @include mobile { flex-direction: column-reverse; }

    margin: 1rem auto;
    border-radius: 1em;
    background-color: $white;
  }

  .img-container {
    img {
       object-fit: cover;
       object-position: center;
       width: 100%;
       height: 100%;
    }
  }

  @include desktop() {
    #consulting .img-container, #consulting img {
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
    }

    #mentorship .img-container, #mentorship img {
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
    }

    #mentorship .img-container {
      flex-shrink: 0;
      width: 60%;
    }
  }

  #blog {
    h2 { margin: 0; }

    .content {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .blurb {
      display: flex;
      flex-direction: row;
      min-width: 90%;

      div { min-width: 50%; }

      h3 {
        margin: 0;
        color: $teal;
      }

      ul {
        list-style: none;
        padding-left: 2rem;

        li {
          padding: 0.5em 0;
        }
      }

      .posts {
        ul {
          @include desktop (){ border-right: solid 1px $brown; };
          @include inbetween (){ border-right: solid 1px $brown; };
        }

        li {
          a {
            color: $text;
            text-decoration: none;
            &:hover { text-decoration: underline; }
          }

          &:nth-child(1n+1) { a:hover { color: $vermilion; } }
          &:nth-child(2n+2) { a:hover { color: $orange; } }
          &:nth-child(3n+3) { a:hover { color: $citron; } }
          &:nth-child(4n+4) { a:hover { color: $teal; } }
          &:nth-child(5n+5) { a:hover { color: $charcoal; } }
        }
      }
    }
  }
}
