@import "_variables";

.project-content { display: none; }
#selected-project { display: inherit; }

#selected-project {
    padding-left: 2rem;
    min-height: 20rem;
}

.projects-list {
    list-style: none;
    padding-left: 0;

    .project-name { text-decoration: underline; }

    .selector { cursor: pointer; }
    a { color: $text; }

    .selector:hover { 
        background: $green;
        font-weight: bold;
        color: $white;
        a { color: $white; }
    }
}
