@import "_variables";

.page {
  width: 100%;

  .page-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    p {
      font-style: oblique;
    }

    font-size: clamp(1rem, 2vw, 1.5rem);
  }
}

.headline {
  text-align: center;

  &.page {
    padding: 1em 0;

    .title h1 { padding: 0 1em; }
  }

  .title {
    width: 100%;
    margin: 0 auto;

    background-image: url("/assets/stripes.png");
    background-size: contain;

    @include desktop() { height: 4rem; }
    @include inbetween() { height: 5rem; }
    @include mobile() { height: 6rem; }

    h1 {
      display: inline-block;
      background-color: $dope;

      max-width: 1000px;
      margin: 0;

      font-family: $tileFont;

      a {
        color: $brown;
        text-decoration: none;
      }

      font-size: clamp(3rem, 5vw, 4rem);
      @include desktop() { line-height: 4rem; }
      @include inbetween() { line-height: 5rem; }
      @include mobile() { line-height: 6rem; }
    }
  }
}
