@import "_variables";

// === POST CONTENT === === === === ===

.post {
    header {
        background-color: $white;
        margin: auto;
        @include desktop () { width: 80%; }

        .post-title {
            font-family: $headingFont;
            font-weight: lighter;
            margin: 0.5em auto 0.2em auto;
            text-align: center;
        }

        .post-meta {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2em;
            time, .post-category { font-weight: bold; }
        }
    }

    .the-rest {
        padding: 0 1em;
    }

    figure.highlight { margin: 0; }
    .highlight {
        border-radius: 1em;
    }
}
