@import "_variables";

.outline-link {
    border: 1px solid $brown;
    border-radius: 0.6em;
    padding: .1em .5em;

    color: $text;
    text-decoration: none;

    &:hover {
        color: $white;
        background-color: $brown;
    }
}

// === POST CONTENT === === === === ===

.post {
    header {
        background-color: $white;
        flex-direction: column;

        .post-title {
            font: lighter 2em $headingFont;
        }
        .post-meta {
            time { font-weight: bold; }
        }
    }

    figure.highlight { margin: 0; }
    .highlight {
        border-radius: 1em;
    }
}

// === PAGE CONTENT === === === === ===

.page {
    header {
        background-color: $white;
        flex-direction: column;

        .page-title {
            margin: 0 auto;
            padding: 0.25em 1em;
            font: lighter 2.5em $headingFont;
        }
    }

    .page-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 2em;

        p {
            font-style: oblique;
            max-width: 30em;
        }
    }
}

// === POST LIST === === === === ===

.post-list {

    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    .post-title {
        a { color: $brown; text-decoration: none; }
        margin-top: 0;
    }

    .post-list-entry {
        border-bottom: 1px dotted $brown;
        padding: 1em 0;

        .post-category {
            font-size: 1.1em;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 1em;
        }

        img {
            max-height: 20em;
        }

        .post-meta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .post-tags {
                font-size: 0.9em;
            }
        }
    }

    .post-excerpt {
        h2 {
            font-family: $bodyFont;
            font-size: 1.2em;
        }
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 1rem 0;

    .disabled {
        border-radius: 0.6em;
        padding: .1em .5em;
        color: $white;
        background-color: $lightGray;
        cursor: not-allowed;
    }

    .link {
        border: 1px solid $brown;
        border-radius: 0.6em;
        padding: .1em .5em;

        color: $brown;
        text-decoration: none;
        background-color: $white;

        &:hover {
            color: $white;
            background-color: $brown;
        }
    }

    .archive {
        margin-top: 0.4em;
    }
}
