@import "_variables";

.outline-link {
    border: 1px solid $brown;
    border-radius: 0.6em;
    padding: .1em .5em;

    color: $text;
    text-decoration: none;

    &:hover {
        color: $white;
        background-color: $brown;
    }
}

.post-category {
    font-size: 1.1em;
}

.post-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .post-tags {
        font-size: 0.9em;
    }
}

// === POST CONTENT === === === === ===

.post {
    header {
        background-color: $white;
        flex-direction: column;

        .post-title {
            font: lighter 2em $headingFont;
            margin-top: 0.5em;
            margin-bottom: 0.2em;
            align-self: flex-start;
            text-align: left;
        }

        .post-meta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            time { font-weight: bold; }
        }
    }

    figure.highlight { margin: 0; }
    .highlight {
        border-radius: 1em;
    }
}
