@import "_variables";

html { scroll-behavior: smooth; }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: $white;
    color: $text;
    font-family: $regularFont;
}

@mixin typo ($minSize, $idealSize, $maxSize, $color) {
    --min: #{$minSize};
    --val: #{$idealSize};
    --max: #{$maxSize};
    color: $color;
}

h1 { @include typo(2em,    5vw,   3em,     $vermilion); }
h2 { @include typo(1.75em, 4vw,   2.75em,  $teal); }
h3 { @include typo(1.5em,  3.5vw, 2.5em,   $orange); }
h4 { @include typo(1.25em, 3vw,   2em,     $charcoal); }
h5 { @include typo(1em,    3vw,   1.75em,  $citron); font-weight: bold; }
p  { @include typo(1em,    2.5vw, 1.5em,   $text) }

h1,h2,h3,h4,h5, p {
    font-size: clamp(var(--min), var(--val), var(--max));
}

h1,h2,h3,h4,h5 {
    font-family: $headingFont;
    font-weight: lighter;
}

a {
    color: $teal;
    &:hover {
        color: $charcoal;
    }
}

.site-content {
    width: 90%;
    max-width: 1000px;
    @include mobile { padding: 0 1rem 1rem 1rem; }

    flex-grow: 1;

    img {
        @media (min-width: $desktopMinimum) {
            max-width: 900px;
        }

        @media (max-width: $desktopMinimum) {
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
}

blockquote {
    border-left: 0.5em solid $charcoal;
    padding-left: 1em;
    margin-left: 0;
    font-style: italic;
}

.task-list {
    list-style: none;
    padding-left: 0;
}

// === CODE === === === === ===

pre {
    padding: 1rem;
    font-size: smaller;

    &.highlight {
        background: $lightGray;
        overflow-x: scroll;
    }

    code {
        background: #282c34;
        color: #abb2bf;
    }
}

code {
    background: $dope;
    color: $brown;
    border-radius: 0.2em;
    padding: 0 3px;
    font-weight: bold;
}

// === HELPERS === === === === ===

.brown { color: $brown; }
.vermilion { color: $vermilion; }
.orange { color: $orange; }
.citron { color: $citron; }
.teal { color: $teal; }
.charcoal { color: $charcoal; }
.dope { color: $dope; }

.hover-brown { &:hover { color: $brown; } }
.hover-vermilion { &:hover { color: $vermilion; } }
.hover-orange { &:hover { color: $orange; } }
.hover-citron { &:hover { color: $citron; } }
.hover-teal { &:hover { color: $teal; } }
.hover-charcoal { &:hover { color: $charcoal; } }
.hover-dope { &:hover { color: $dope; } }

// === MISC === === === === ===

.archive {
    a {
        color: $text;
        text-decoration: none;
    }

    white-space: nowrap;
    list-style: none;
    padding: 0;
}
