@import "_variables";

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: $white;
    color: $darkGray;
    font-family: $regularFont;
    font-size: 1.2em;
    margin: auto;
}

h1,h2,h3,h4,h5 {
    font-family: $headingFont;
    color: $brown;
    font-weight: lighter;
}

a { 
    color: $teal;
    &:hover {
        color: $charcoal;
    }
}

.site-content {
    width: 90%;
    max-width: 55rem;
    @media (max-width: $desktopMinimum) { padding: 0 1rem 1rem 1rem; }

    margin-top: 1rem;
    padding-bottom: 1rem;

}

// === POST LIST === === === === ===

.post-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    .post-title {
        a { color: $text; text-decoration: none; }
        margin-top: 0;
    }

    .read-more {
        background: $blue;
    }

    .post-list-entry:last-child {
        border-bottom: none;
        padding-bottom: 1rem;
    }
}

.post-list-entry {
    padding: 2rem 0;
    border-bottom: 1px solid $lightGray;
}

.pagination {
    margin: auto;
    text-align: center;
    margin: 1rem 0;

    .previous, .next { padding-top: .5rem; }

    .previous { float: left; }
    .next { float: right; }
    .break { clear: both; }

    .center { display: inline-block; }
}
