---
# Only the assets Sass file needs front matter (the dashes are enough)
---

@import "_variables";
@import "layout";
@import "footer";
@import "header";
@import "home";
@import "posts";
@import "page";
@import "pagination";
@import "site";
@import "long-links";
@import "news";
