---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Coolors Exported Palette - coolors.co/293434-148261-05445e-f9faf9-d17f77 */
$darkGray: #293434;
$lightGray: #D6D6D6;
$green: #148261;
$blue: #05445E;
$white: #f9faf9;
$salmon: #d17f77;

$text: $darkGray;

$desktopMinimum: 992px;
$veryTinyMax: 576px;

$regularFont: 'Rubik', sans-serif;

@mixin transition ($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

body {
    background: $white;
    color: $darkGray;
    font-family: $regularFont;
}

a { color: $blue; }

.highlight-button {
    display: inline-block;
    padding: .5rem 1rem;
    cursor: pointer;
    color: $white;
    text-decoration: none;

    a { 
        color: $white;
        text-decoration: none;
    }
}

.highlight-button:hover { filter: brightness(120%) saturate(75%); }

// === LAYOUT === === === === ===

.centered {
    margin: auto;
    text-align: center;
}

.site-header, .site-content, .site-footer {
    @extend .centered;
}

.site-content {
    max-width: 900px;
    text-align: left;

    margin-top: 1rem;
    border-top: solid 1px $darkGray;

    padding-bottom: 1rem;
    border-bottom: solid 1px $darkGray;

    @media (max-width: $desktopMinimum) { padding: 0 1rem 1rem 1rem; }
}

// === HEADER === === === === ===

.site-title {
    text-decoration: none;
    color: $text;
    font: 2rem 'Bungee Shade', cursive;
    @media (max-width: $veryTinyMax) { font-size: 1.5rem; }

    .site-subtitle {
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 1.5rem;
        @media (max-width: $veryTinyMax) { font-size: 1rem; }
    }
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: block;
    font-size: 1.5rem;
    @include transition(transform .5s ease);
    @media (min-width: $desktopMinimum) { display: none; }
}

#nav-toggle:checked ~ .nav-toggle-label{
    transform: rotate(90deg);
    @include transition(transform .5s ease);
}

#nav-toggle { display: none; }

#nav-toggle ~ .page-list {
    @media (max-width: $desktopMinimum) {
        @include transition(all .5s ease);
        visibility:hidden;
        opacity:0;
        max-height: 0;
    }
}

#nav-toggle:checked ~ .page-list {
    visibility:visible;
    opacity:1;
    max-height: 500px;
}

.page-list {
    list-style: none;
    padding-left: 0;
}

.page-link {
    @extend .highlight-button;
    @media (max-width: $desktopMinimum) { display: block; }

    a {
        font-size: 1.25rem;
        i { font-size: 1rem; padding-left: .25rem;  }
    }
}

// === POST LIST === === === === ===

.post-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    .post-title {
        a { color: $text; text-decoration: none; }
        margin-top: 0;
    }

    .read-more {
        @extend .highlight-button;
        background: $blue;
    }

    .post-list-entry:last-child {
        border-bottom: none;
        padding-bottom: 1rem;
    }
}

.post-list-entry {
    padding: 2rem 0;
    border-bottom: 1px solid $lightGray;
}

.pagination {
    margin: auto;
    text-align: center;
    margin: 1rem 0;

    .previous { float: left; }
    .next { float: right; }
    .break { clear: both; }

    .center { display: inline-block; }
}

// === FOOTER === === === === ===

.social-links {
    list-style: none;
    display: inline-block;

    a { color: $text; }
    a:hover { color: $salmon; }

    li { 
        display: inline-block;
        padding: 0 1rem;
    }
}

// === POSTS & PAGES === === === === ===

.post-title, .page-title {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: lighter;

    i { font-size: smaller; vertical-align: middle; }
}

pre { padding: 1rem; font-size: smaller; }
figure.highlight { margin: 0; }

code.highlighter-rouge { background: $lightGray; }

// === Projects === === === === ===

.project-content { display: none; }
#selected-project { display: inherit; }

#selected-project {
    padding-left: 2rem;
    min-height: 20rem;
}

.projects-list {
    list-style: none;
    padding-left: 0;

    .project-name { text-decoration: underline; }

    .selector { cursor: pointer; }
    a { color: $text; }

    .selector:hover { 
        background: $green;
        font-weight: bold;
        color: $white;
        a { color: $white; }
    }
}

// === Arts === === === === ===

.arts-list {
    img { width: 90%; margin-bottom: 0.5rem; }
    a { color: $text; text-decoration: none; }
    .art-title { font-style: italic; font-weight: bolder; }
    .art-meta { font-weight: lighter; }
    .art-entry { margin-bottom: 1rem; }
}

// === Stupid Overrides === === === === ===

.pure-g [class*=pure-u] {
    font-family: $regularFont;
}
