---
layout: base
---

<header id="top" class="home">
  {% include header.html %}
</header>
<div class="headline home full-page">
  <img src="{{ "/assets/glasses.png" | relative_url }}" />
  <div class="title"><h1>Patrick McVeety-Mill</h1></div>
  <div class="content">
    <p>
      Hi, nice to see you. Thanks for stopping by.
      My name is Patrick and I'm a developer, speaker, writer, mentor, and artist.
      Make yourself at home and have a look around.
    </p>
    <ul class="social-links">
      {% for link in site.data.social_links %}
        {% if link.home == true %}
        <li><a href="{{link.url}}" title="{{link.name}}" target="_blank"><i class="{{link.icon}}"></i></a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<div class="content-container home">
  <div id="consulting" class="full-page">
    <div class="content">
      <div class="img-container">
        <img src="{{ "/assets/photos/pmcvtm-at-work.jpg" | relative_url }}" />
      </div>
      <div class="blurb">
        <h2>Consulting</h2>
        <p>
          I'm a professional software engineer with over a decade of experience consulting for a wide variety of industries including education, energy, manufacturing, government, and many more.
        </p>
        <p>
          I work mostly with .NET cloud applications, systems design and architecture, and DevOps optimization and migration both as a technical lead and as a developer.
          I currently work independently - hire me to lead your team to better practices, solve a pesky problem, navigate an important change, or simply add a strong, practiced hand in the work you're already doing.
        </p>
        <p>
          I prioritize the needs of you and your team, with extra attention to training, documentation, and understanding, to not leave y'all high or dry when our contract is done.
        </p>
      </div>
    </div>
  <div id="mentorship" class="full-page">
    <div class="content">
      <div class="blurb">
        <h2>Mentorship</h2>
        <p>
          I am a practiced and empathetic mentor, manager, and coach, serving both as a technical team lead and managing direct reports for organizations.
          I've helped many folks find a path to promotion, work their way through sticky situations, and explore possibilities as they chart a course for their careers.
        </p>
        <p>
          I offer individual technical mentoring, career advising, and coaching for a sliding scale fee based on need, value, and availability (as cheap as free!).
        </p>
      </div>
      <div class="img-container">
        <img src="{{ "/assets/photos/pmcvtm-mentoring.jpg" | relative_url }}" />
      </div>
    </div>
  </div>
</div>

<main class="site-content" aria-label="Content">
  {{ content }}
</main>
