---
layout: base
---


<header class="home">
  <span class="subtitle">Patrick McVeety-Mill:</span>
  <h1 class="title">Loud &amp; Abrasive</h1>

  <nav>
    <input id="nav-toggle" name="nav-toggle" type="checkbox" />
    <label class="nav-toggle-label" for="nav-toggle">
      <i class="menu-icon fa fa-bars"></i>
    </label>

    <ul>
      {% for path in site.header_pages %}
        {% assign page = site.pages | where: "permalink", path | first %}
        {% if page.title %}
          <li class="solid-{{page.color | default:'brown'}}">
            <a href="{{ page.url | relative_url }}">
              {{ page.title | escape }} <i class="fa {{page.icon}}"></i>
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="solid-charcoal">
        <a href="{{ "/feed.xml" | relative_url }}">
          Subscribe <i class="fa fa-rss"></i>
        </a>
      </li>
    </ul>

  </nav>
</header>

<hr class="stripes" />

<main class="site-content" aria-label="Content">
  {{ content }}
</main>
