---
layout: base
---

<header class="home">
  {% include header2.html %}
</header>

<div class="headline home full-page">
  <img src="{{ "/assets/glasses.png" | relative_url }}" />
  <div class="title"><h1>Patrick McVeety-Mill</h1></div>
  <div class="content">
    <p>
      Hi, nice to see you. Thanks for stopping by.
      My name is Patrick and I'm a developer, speaker, writer, mentor, and artist.
      Make yourself at home and have a look around.
    </p>
    <ul class="social-links">
      {% for link in site.data.social_links %}
        {% if link.home == true %}
        <li><a href="{{link.url}}" title="{{link.name}}" target="_blank"><i class="{{link.icon}}"></i></a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<main class="site-content" aria-label="Content">
  {{ content }}
</main>
