---
layout: default
---

<article class="page bg-container">

  <div class="headline page bg-container">
    <div class="title">
      <h1>
        {% if page.headline-link %}
        <a href="{{ page.headline-link | relative_url }}">
        {% else %}
        <a href="{{ page.permalink | relative_url }}">
        {% endif %}
          {% if page.headline %}
            {{page.headline}}
          {% else %}
            {{page.title}}
          {% endif %}
        </a>
      </h1>
    </div>
    {% if page.description %}
    <div class="content page-description">
      <p>{{page.description}}</p>
    </div>
    {%endif%}
  </div>

  {% if page.blurb %}
  <div class="content blurb">
  {% else %}
  <div class="content">
  {% endif %}
    {{ content }}
  </div>

</article>
