---
layout: default
---

<div class="headline page bg-container">
  <div class="title">
    <h1>
      <a href="{{ "/blog/" | relative_url }}">Blog</a>
    </h1>
  </div>
</div>

<article class="post bg-container" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="content blurb" aria-label="Content" itemprop="articleBody">

    <header>
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <div class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
        <span class="post-category {{page.color}}">{{page.categories}}</span>
        <span>
        {% for tag in page.tags %}
          <span>
            {{tag}}
            {% unless forloop.last %} · {% endunless %}
          </span>
        {% endfor %}
        </span>
      </div>
    </header>

    <div class="the-rest">
      {{ content }}

      <a class="outline-link" href="javascript:window.backOrHome()">
        <i class="fas fa-chevron-left vermilion"><i class="fas fa-chevron-left orange"></i></i><i class="fas fa-chevron-left citron"></i><i class="fas fa-chevron-left teal"></i>
        Return
      </a>
    </div>

  </div>

</article>